/* Manually Produced  */
.course-item{
  margin: 0 auto;
  padding: 10px;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 100;
  color: #3E2723;

}
.input-row{
  margin-left: 10px;
  display: flex;
  gap: 10px;
}

h1{
  margin-left: 10px;
  color: skyblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: 800;
}

h2{
  margin-left: 10px;
  color: skyblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 800;
}

h3{
  color: skyblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 800;
}

#main-page-div{ width: 100%; height: 100vh;
  background-color: white; 
}

#add-course{ 
  width: 620px; height: 70vh;
  margin-top: 20px;
  margin-left: 10px;
  padding-right:10px;
  background-color: #D6B588; 
}
