h1{
  color: skyblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 50px;
  font-weight: 800;
}
h2{
  color: skyblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 25px;
  font-weight: 800;
}
h3{
  color: skyblue;
  text-align: left;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 800;
}

#main-page-div{ width: 100%; height: 100%;
  background-color: white; 
}

#add-course{ 
  width: 100%; height: 100%;
  background-color: white; 
}

input{
  align-items:left;
}